.fighter-preview___root {
  display: flex;
  flex-direction: column;
  flex-basis: 250px;
}

.fighter-preview___right {
  align-items: flex-end;
}

.fighter-preview___left {
  align-items: flex-start;
}

.fighter-preview___root img {
  height: 300px;
}

.fighter-preview___root {
  font-family: monospace;
  text-align: center;
  align-items: center;
  color: black;
  font-size: 40px;
  letter-spacing: 3px;
}
